.container-home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo h1 {
    font-size: 4em !important;
    color: #4e2ecf;
}

.logo span {
    color: #fff;
    font-size: 18px;
    margin: 14px 0 34px 0;
}

.area-input {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.area-input div {
    width: 100%;
    height: 46px;
    background-color: rgb(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.area-input svg {
    margin: 0 8px;
}

.area-input input {
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    color: white;
    height: 46px;
    font-size: 18px;
}

.area-input input::placeholder {
    font-size: 17px;
    color: rgb(255, 255, 255, 0.8);
}

.area-input button {
    width: 100%;
    height: 46px;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(245, 245, 245);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.7s;
}

.area-input button:hover {
    background-color: #4e2ecf;
    border-color: #4e2ecf;
}

.erroMsg {
    margin-top: 30px;
    color: rgb(255, 80, 80);
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width:615px) {
    .logo img {
        width: 250px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .area-input {
        width: 85%;
    }
}